PORT=3001
JWT_SECRET=hrms_super_secret_key_2026_brendan_project

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=hrms_db

EMAIL_USER=hrmsprojectofficial@gmail.com
EMAIL_PASS=iiacavycqfecilac 
FRONTEND_URL=http://localhost:5173