JWT_SECRET=hrms_super_secret_key_2026_brendan_project
 
DB_HOST=hrms-mysql-hrmsproject.f.aivencloud.com
DB_PORT=11685
DB_USER=avnadmin
DB_PASSWORD=password
DB_NAME=hrms_db
 
EMAIL_USER=hrmsprojectofficial@gmail.com
EMAIL_PASS=iiacavycqfecilac
FRONTEND_URL=http://localhost:5173

ADMIN_USER=adminnew@hrms.com
ADMIN_PASS=Admin123!